language: android

jdk:
- oraclejdk8

before_install:
# Install SDK license so Android Gradle plugin can install deps.
- mkdir "$ANDROID_HOME/licenses" || true
- echo "d56f5187479451eabf01fb78af6dfcb131a6481e" > "$ANDROID_HOME/licenses/android-sdk-license"
# Install the rest of tools (e.g., avdmanager)
- yes | sdkmanager tools
# Install the system image
- sdkmanager "system-images;android-21;default;armeabi-v7a"
# Create and start emulator for the script. Meant to race the install task.
- echo no | avdmanager create avd --force -n test -k "system-images;android-21;default;armeabi-v7a"
- $ANDROID_HOME/emulator/emulator -avd test -no-audio -no-window &

install: ./gradlew :library:build :library:assembleAndroidTest --stacktrace

before_script:
- android-wait-for-emulator
- adb shell input keyevent 82

script:
- ./gradlew :library:connectedCheck --stacktrace

notifications:
  email: false

sudo: false

cache:
  directories:
  - $HOME/.gradle